extends ../layout

block content
    .container
        .col-md-5
            form(method='post',action='/user/register')
                .modal-header 注册
                .modal-body
                    .form-group
                        label(for='registerUsername') 用户名
                        input#registerUsername.form-control(type='text' name='username')
                    .form-group
                        label(for='registerpsw') 密码
                        input#registerpsw.form-control(type='password' name='psw')
                .modal-footer
                    .form-group
                        button.btn.btn-default(type='submit') 注册